<h1>Flights</h1>

<%= form_with url: '/flights', method: :get do |f| %>

  <%= f.label :departure_continent, 'Departure Continent' %>
  <%= f.collection_select :departure_continent, @continents, :name, :name %>

  <%= f.label :departure_country, 'Departure Country' %>
  <%= f.grouped_collection_select :departure_country, @continents,
  :countries, :name, :name, :name %>

  <%= f.label :departure_airport, 'Departure Airport' %>
  <%= f.grouped_collection_select :departure_airport, @countries,
  :airports, :name, :code, :name %>

  <%= f.label :arrival_continent, 'Destination Continent' %>
  <%= f.collection_select :arrival_continent, @continents, :name, :name %>

  <%= f.label :arrival_country, 'Destination Country' %>
  <%= f.grouped_collection_select :arrival_country, @continents,
  :countries, :name, :name, :name %>

  <%= f.label :arrival_airport, 'Destination Airport' %>
  <%= f.grouped_collection_select :arrival_airport, @countries,
  :airports, :name, :code, :name %>

  <%= f.submit 'Search Flight' %>

<% end %>
