<h1>Flights</h1>

<%= form_with url: '/flights', method: :get do |f| %>
  <div class="row">
    <div class='col-lg-6 mb-4'>
      <h4>Departure</h4>
      <div class = 'mb-2'>
        <%= f.label :departure_airport, 'Airport', class: 'form-label fw-bold' %>
        <%= f.grouped_collection_select :departure_airport, @departure_countries,
        :airports, :name, :code, :name, {}, { class: 'form-select' }%>
      </div>
    </div>
    <div class='col-lg-6 mb-4'>
      <h4>Destination</h4>
      <div class="mb-2">
        <%= f.label :arrival_airport, 'Airport', class: 'form-label fw-bold' %>
        <%= f.grouped_collection_select :arrival_airport, @arrival_countries,
        :airports, :name, :code, :name, {}, { class: 'form-select' } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class='col-lg-6'>
      <%= f.label :time, 'Flight Time', class: 'form-label fw-bold' %>
      <%= f.collection_select :time, @flights, :id, :strf_departure_dmy, {}, { class: 'form-select' } %>
    </div>
    <div class = "col ms-auto align-self-end justify-self-right">
      <%= f.submit 'Search Flight', class: 'btn btn-primary mt-4' %>
    </div>
  </div>
<% end %>

<% unless @selection.nil? %>
  <%= form_with url: '/bookings/new', method: :get do |f| %>
    <%= f.label :flight, 'Choose your Flight', class: 'form-label fw-bold' %>
    <% @selection.each do |flight| %>
      <div class="form-check">
        <%= f.label "id_#{flight.id}", flight.radio_label, class: 'form-check-label' %>
        <%= f.radio_button :id, flight.id, class: 'form-check-input' %>
      </div>
    <% end %>

    <div>
      <%= f.submit 'Select Flight', class: 'btn btn-primary mt-4' %>
    </div>
  <% end %>
<% end %>
